.featured {
    display: flex;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
  }
  .featured .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    margin-top: -20%;
  }
  .featured .top .title {
    font-size: 6px;
    font-weight: 500;
  }
  .featured .bottom {
    padding: 10px;
    display: flex;
    margin-top: 6%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin-left: 20%;
  }
  .featured .bottom .featuredChart {
    width: 200px;
    height: 200px;
    margin-top: 1%;
    margin-right: 50%;
  }
  .featured .bottom .strong {
    margin-right: 50%;
  }
  .featured .bottom .strong strong {
    font-size: 90px;
    color: #E999E9;
  }
   .title1 {
    font-weight: 500;
    color: black;

    margin-right: 200%;
    font-size: 15px;
  }
  .featured .bottom .title2 {
    font-weight: 500;
    color: black;
    margin-right: 10%;
    font-size: 20px;
    margin-left: -90%;
  }
  .featured .bottom .amount1 {

    margin-top: 2%;
    font-weight: 500;
    color: black;
    margin-right: 200%;
    font-size: 20px;
  }
  .featured .bottom .amount2 {

    margin-top: 2%;
    font-weight: 500;
    color: black;
    margin-right: -90%;
    font-size: 20px;
  }

  .featured .bottom .desc {
    font-weight: 300;
    font-size: 12px;
    color: gray;
    text-align: center;
  }
  .featured .bottom .summary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .featured .bottom .summary .item {
    text-align: center;
  }
  .featured .bottom .summary .item .itemTitle {
    font-size: 14px;
    color: gray;
  }
  .featured .bottom .summary .item .itemResult {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
  }
  .featured .bottom .summary .item .itemResult.positive {
    color: green;
  }
  .featured .bottom .summary .item .itemResult.negative {
    color: red;
  }