*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
.card{
    background: white;
    display: flex;
    padding: 0;
    margin-top: -10%;
}
.card p{
    margin-top: 30px;
    margin-left: 15px;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
}
body{
    background: #F5F6FA;
}
img{
    width: 80px;
    height: 80px;
    background-color: white;
}
h1{
    font-size: 20px;
    color: white;
    margin-left: 40px;
}
.colour .sidebar{
    background:#05277C;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.colour .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
    margin-top: 40px ;
}
.colour .sidebar ul li a .icon{
    color: #DEE4EC;
    width: 30px;
    display: inline-block;
}
.colour .sidebar ul li a:hover,
.colour .sidebar ul li a.active{
    color: #0C7DB1;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}
.colour.sidebar ul li a:hover .icon,
.colour .sidebar ul li a.active .icon{
    color: #0C7DB1;
}
.colour .sidebar ul li a:hover:before,
.colour .sidebar ul li a.active:before{
    display: block;
}
.logout{
    margin-top: 210px;
}
.validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
  }