#users {
    width: 50%;
    /* height: 100vh; */
    /* display: flex; */
    /* margin-left: 9%; */
    /* margin-right: 5%; */
    /* margin-left: 20%; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: -8%; */
    /* margin-top: -25%; */
  }
  .app{
    /* margin-top: 10%; */
    margin-left: 17%;
    /* width: 70%; */
  }
  /* h1{
    margin-top: 5%;

  } */
  table th, td  {
    border: 2px solid;
    padding: 40px;
    margin-left: 10%;
    border-collapse: collapse;
    /* width: 100%; */
  }
  td{
    color: #444444;
    border: 1px solid rgb(22, 21, 21);
    text-align: left;
    padding: 10px;
    font-size: 15px;
  }
  .del{
    margin-left: 87%;
    width: 60px;
    height: 30px;
    margin-top: 3%;
    border-radius: 20px;
    border: none;
    color: white;
    background-color:#05277C;
  }
  .add{
    margin-left:87%;
    width: 60px;
    margin-top: 6%;
    height: 30px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color:#05277C;

  }
  table {
    /* width: 20%; */
    border-collapse: collapse;
    /* height: 40px; */
    margin-right: 15%;
    margin-top: 2%;

    /* margin-top: -45%; */
  }
  /* th{
    background-color: #FAC1C4;
  } */
  #Bloodrequest{
    background-color: #ddd;
  }
  #Bloodrequest tr:nth-child(even){background-color: #ffff;}
  #Bloodrequest tr:hover {background-color: rgb(27, 185, 27);}
  .head{
  /* margin-top: -10%; */
  /* margin-top: -45%; */
  }
  .head h1{
  margin-left:100% ;
  /* font-size: 20px; */
  color: red;
  }
  .setting{
  width: 25px;
  width: 25px;
  margin-top: -10%;
  margin-left: 76%;
  cursor: pointer;
  }
  .notification{
  width: 25px;
  width: 25px;
  margin-left: 70%;
  cursor: pointer;
  }
  .person{
  width: 25px;
  width: 25px;
  cursor: pointer;
  }