/* .Section{ 
 position: fixed;
 left: 0;
  background-color: #05277C;
margine-bottom:0%;

  height: 100vh;

  width: 15vw;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: space-between;

  padding: 2rem 0;

  gap: 2rem
} */